<div class="container">
  <h2 class="page-heading">Corvallis Pop-Up Art Gallery</h2>
  <div class="col-8">
    <ul>
      <li>
        <a href="artists">Artists</a>
        <p class="page-description">View, add, modify and remove artists</p>
      </li>
      <li>
        <a href="events">Gallery Events</a>
        <p class="page-description">
          View, add, modify and remove planned events
        </p>
      </li>
      <li>
        <a href="inventory">Gallery Inventory</a>
        <p class="page-description">
          View, add, modify and remove gallery inventory items
        </p>
      </li>
      <li>
        <a href="styles">Styles</a>
        <p class="page-description">
          View, add, and modify artistic styles
        </p>
      </li>
      <li>
        <a href="mediums">Mediums</a>
        <p class="page-description">
          View, add, and modify artistic mediums
        </p>
      </li>
      <li>
        <a href="events_inventory">Events_Inventory</a>
        <p class="page-description">
          View, add, modify and remove gallery items showcasing at events
        </p>
      </li>
      <li>
        <a href="events_artists">Events_Artists</a>
        <p class="page-description">
          View, add, modify and remove artists attending events
        </p>
      </li>
    </ul>
  </div>
</div>